@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
  font-family: myFont;
  src: url('./media/Gill\ Sans.otf');
}

body {
  background-color: #000;
  color: #fff;
  padding-top: 0;
  margin: 0;
  font-family: myFont, 'lato', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff20;
  padding-bottom: 4px;
}

.home-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  font-weight: 100;
  text-align: center;
  font-size: 18px;
}

.row {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 75px;
}

.card-pic {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

a {
  padding: 0;
  margin: 0;
  color: #fff;
  text-decoration: none;
  padding-bottom: 0;
}

#color {
  background-color: #ffffff20;
}

.card-container {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.details-container {
  padding-left: 10px;
  font-size: 15px;
  align-self: center;
}

.card-name {
  margin-top: 0;
  padding-top: 0;
  font-weight: 100;
}

.card-filnumb {
  margin-top: 0;
  padding-top: 0;
  font-weight: 100;
}

.search-bar {
  min-width: 230px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
